.box {
    background-color: lightblue;
}
.box:first-child {
    background-color: lightgreen;
}
.box:last-child {
    background-color: lightcoral;
}

a{
    text-decoration: none;
    color: darkblue;
}
a.hover {
    text-decoration: underline;
    color: red;
}


/* Extra cool selectors */

/* Style only the second box */
.box:nth-child(2) {
    background-color: gold;
}


/* Style only the last menu link */
nav ul li:last-child a {
    font-style: italic;
    color:red;
    border: 1px solid black;
}


/* Style only the first menu link */
nav ul li:first-child a {
    font-weight: bold;
    color: green;
}



