h1{
    font-size: 2.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: turquoise;
    text-align: center;
    margin: auto;
    padding: 20px;
    background-color: bisque;
    border: 2px solid #666666;
    border-color: brown;
}

.navbar {
    background-color: #333333;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}
a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
}   
img{
    display: block;
    margin: 50px auto;
    max-width: 100%;
    height: auto;
    border: 5px solid rgb(237, 136, 200);
    border-radius: 50px;
}
*{
    box-sizing: border-box;
    margin: 0;
}
